{% extends 'base.html' %}
{% include 'navbar.html' %}
{% block body %}
    {% if user.is_authenticated %}
    <div class="container mt-3 text-center">
        <p class="lead">
            The list assigned to you are mentioned below, Please click the view more button to get more information. <br>
            {% if user.is_superuser %}
                <strong>You have the option to Reassign the lead to others.</strong>
            {% endif %}      
        </p>
    </div>
    
    <div class="container" style="margin-bottom:30px">
       
           <table id="example" class="table table-hover " > 
                <thead class="thead-randstad text-center">
                    <tr style="font-size:10px">
                        <th scope="col" >#</th>
                        <th scope="col">Form submission time</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">status</th>
                        <th scope="col">Type of Enquiry</th>
                        <th scope="col">Email</th>
                        <th scope="col">Action</th>
                        {% if user.is_superuser %}
                        <th scope="col">Reassign</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody class="text-center">
                    {% for lead in Leads %}
                    
                        <tr style="font-size:10px">                        
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ lead.form_submission_time  }}</td>
                            <td>{{ lead.first_name  }}</td>
                            <td>{{ lead.last_name  }}</td>
                             <td>{{ lead.status.name  }}</td>
                            <td>{{ lead.type_of_enquiry }}</td>
                            <td>{{ lead.email }}</td>
                            <td><button type="button" class="btn btn-sm btn-randstad lead-detail" id="{{ lead.id }}">View Details</button></td>
                            {% if user.is_superuser %}
                            <td><button type="button" class="btn btn-sm btn-randstad-yellow center" onclick="reAssign(this)" id="1" data-toggle="modal" data-target="#exampleModal">Reassign</button></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
               
                </tfoot>
            </table>
        
    </div>
    {% else %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4 text-center">Byte Lead Manager App</h1>
            <p class="lead text-center">One stop shop for all your leads. Please Login to find your leads</p>
            <div class="text-center">
                <a type="button" class="btn btn-lg btn-randstad center" href="{% url 'social:begin' 'google-oauth2' %}">Login</a>
            </div>
        </div>
    </div>
    {% endif %}
    
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
        
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header modal-randstad">                    
                    <h4 class="modal-title">Lead Information</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col lead-data">
                        
                        </div>
                        <div class="col lead-form">
                            2 of 2
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        
        </div>
    </div>
    
    </div>



{% endblock body %}
{% include 'footer.html' %}