{% extends 'base.html' %}
{% include 'navbar.html' %}
{% block body %}
    {% if user.is_authenticated %}
    <div class="container mt-3 text-center">
        <p class="lead">
            The list assigned to you are mentioned below, Please click the view more button to get more information. <br>
            {% if user.is_superuser %}
                <strong>You have the option to Reassign the lead to others.</strong>
            {% endif %}      
        </p>
    </div>
    
    <div class="container pb-5">       
        <table id="example" class="table table-hover " > 
            <thead class="thead-randstad text-center">
                <tr style="font-size:.75em">
                    <th scope="col" >#</th>
                    <th scope="col">Form submission time</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Current Status</th>
                    <th scope="col">Type of Enquiry</th>
                    <th scope="col">Email</th>
                    <th scope="col">Action</th>
                    {% if user.is_superuser %}
                    <th scope="col">Reassign</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody class="text-center">
            {% for lead in Leads %}                    
            <tr style="font-size:.8em">                        
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ lead.form_submission_time  }}</td>
                <td>{{ lead.first_name  }}</td>
                <td>{{ lead.last_name  }}</td>
                <td>{{ lead.status.name  }}</td>
                <td>{{ lead.type_of_enquiry }}</td>
                <td>{{ lead.email }}</td>
                <td><button type="button" class="btn btn-sm btn-randstad lead-detail" id="{{ lead.id }}">View Details</button></td>
                {% if user.is_superuser %}
                <td><button type="button" class="btn btn-sm btn-randstad-yellow center lead-reassign" id="{{ lead.id }}">Reassign</button></td>
                {% endif %}
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            
            </tfoot>
        </table>
        <div class="container">

        </div>      
    </div>
    {% else %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4 text-center">Byte Lead Manager App</h1>
            <p class="lead text-center">One stop shop for all your leads. Please Login to find your leads</p>
            <div class="text-center">
                <a type="button" class="btn btn-lg btn-randstad center" href="{% url 'social:begin' 'google-oauth2' %}">Login</a>
            </div>
        </div>
    </div>
    {% endif %}
    
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog mw-100 w-75">        
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header modal-randstad">                    
                    <h4 class="modal-title">Lead Information</h4>
                    <button type="button" class="close text-white" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col m-3">
                            <p> First Name </p>
                            <p> Last Name  </p>
                            <p> Type of Enquiry  </p>
                            <p> Company  </p>
                            <p> Email  </p>
                            <p> Phone  </p>
                            <p> Number of Positions  </p>
                            <p> Service Requirements  </p>
                            <p> Location of Hire  </p>
                            <p> Industry  </p>
                            <p> Company Enployee Strength  </p>
                            <p> Form Submission Time  </p>
                            <p> Form Type  </p> 
                        </div>
                        <div class="col m-3 lead-data">
                        </div>
                        <div class="col m-3 lead-form">
                            <form action=get_action() id="changeStatusForm" method="PATCH">
                            <h5>Current Lead Status : <span class="btn btn-randstad-yellow" id="leadStatus"></span></h5>
                            <select class="custom-select" id="status">
                                    <option selected id="currentStatus" disabled></option>
                                    <option value="1">BD Call</option>
                                    <option value="2">Meeting</option>
                                    <option value="3">Proposal</option>
                            </select>
                            <input type="submit" value="Change Status"  onClick="sendNewStatus" class="btn btn-randstad m-4">
                            </form>
                        </div>
                    </div>
                </div>
            </div>        
        </div>
    </div>

    <div class="modal fade" id="reassign-modal" role="dialog">
        <div class="modal-dialog mw-100 w-50">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header modal-randstad">
                    <h4 class="modal-title">Lead Reassign</h4>

                </div>
                <div class="modal-body">
                    <div class="row">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}
{% include 'footer.html' %}